<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <br>
<form action="/register" id="form" method="POST" onSubmit = "return checkPassword(this)">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Enter your name" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter your email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Create your password: Capital letters, Lowercase and numbers" autocomplete="off" required><br>
        <input type="checkbox" onclick="myFunction()" id="showPassword">Show Password  <br><br>
    </div>
    <div>
        <label for="password">Confirm Password</label>
        <input type="password" name="passwordConfirm" id="passwordConfirm" value="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Confirm your password" autocomplete="off" required>
    </div>

    <div class="container">
      <button type="submit" class="btn btn-primary">Register</button>
  </form>
  <a class="btn btn-success" ld="text" href="/login">Login</a>
  </div> 
    </div>
  

<div id="message">
    <h3>Password must contain the following:</h3>
    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
    <p id="number" class="invalid">A <b>number</b></p>
    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
  </div>
  <script>

// validate email //

function validateEmail(email) {
  var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(email);
}

function validate() {
  var $result = $("#result");
  var email = $("#email").val();
  $result.text("");

  if (validateEmail(email)) {
    $result.text(email + " is valid :)");
    $result.css("color", "green");
  } else {
    $result.text(email + " is not valid :(");
    $result.css("color", "red");
  }
  return false;
}

$("#validate").on("click", validate);

// validate email end //


//Show my password
function myFunction() {
  var x = document.getElementById("password")
  if (x.type === "password") {
    x.type = "text"
  } else {
    x.type = "password"
  }
}

// Popup messages
    var myInput = document.getElementById("password")
    var letter = document.getElementById("letter")
    var capital = document.getElementById("capital")
    var number = document.getElementById("number")
    var length = document.getElementById("length")
    
    // When the user clicks on the password field, show the message box
    myInput.onfocus = function() {
      document.getElementById("message").style.display = "block"
    }
    
    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function() {
      document.getElementById("message").style.display = "none"
    }


// Password validation
    
    // When the user starts to type something inside the password field
    myInput.onkeyup = function() {
      // Validate lowercase letters
      var lowerCaseLetters = /[a-z]/g
      if(myInput.value.match(lowerCaseLetters)) {  
        letter.classList.remove("invalid")
        letter.classList.add("valid")
      } else {
        letter.classList.remove("valid")
        letter.classList.add("invalid")
      }
      
      // Validate capital letters
      var upperCaseLetters = /[A-Z]/g
      if(myInput.value.match(upperCaseLetters)) {  
        capital.classList.remove("invalid")
        capital.classList.add("valid")
      } else {
        capital.classList.remove("valid")
        capital.classList.add("invalid")
      }
    
      // Validate numbers
      var numbers = /[0-9]/g
      if(myInput.value.match(numbers)) {  
        number.classList.remove("invalid")
        number.classList.add("valid")
      } else {
        number.classList.remove("valid")
        number.classList.add("invalid")
      }
      
      // Validate length
      if(myInput.value.length <= 32 && myInput.value.length >= 8) {
        length.classList.remove("invalid")
        length.classList.add("valid")
      } else {
        length.classList.remove("valid")
        length.classList.add("invalid")
      }
    }

// Password confirmation
    function checkPassword(form) { 
				password = form.password.value
				passwordConfirm = form.passwordConfirm.value
				// If password not entered 
				if (password == '') 
					alert ("Please enter Password") 					
				// If confirm password not entered 
				else if (passwordConfirm == '') 
					alert ("Please enter confirm password") 					
				// If Not same return False.	 
				else if (password != passwordConfirm) { 
					alert ("Password did not match: Please try again...") 
					return false 
				} 
				// If same return True. 
				else { 
					return true
				} 
      } 
    </script>
</body>
</html>